<html>
    <head>
        <title>
            Home
        </title>
    </head>
    <body>
        <h1>
            Hit or Flop
        </h1>
        <p>
            <form method="GET" action="/go_to_prediction">
                <label for="actor">Actor:</label><br>
                <input type="text" id="actor" name="actor"><br>
                <label for="director">Director:</label><br>
                <input type="text" id="director" name="director"><br>
                <label for="genre">Genre:</label><br>
                <input type="text" id="genre" name="genre"><br>
                <input type="submit" value="Submit">
              </form>              
        </p>
    </body>
</html>